
.header-image img{
    margin-left: 40%;
}
.header-image h3{
    width: 133px;
    height: 26px;
    color: #7a7c81;
    font-family: "Rubik Light";
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    margin-left: 44%;
    margin-top: 0%;
    margin-bottom:0%
}
.header-image p{
    width: 213px;
    height: 54px;
    color: #7a7c81;
    font-family: "Rubik Light";
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    margin-left: 40%;
    margin-top: 0%;
    margin-bottom: 0%;
}
