.gallery-item{
    width: 80%;
    height: 95%;
    box-shadow: 0 16px 16px -1px rgba(10, 22, 70, 0.1), 0 0 1px rgba(10, 22, 70, 0.06);
    border-radius: 8px;
    background-color: #ffffff;
    text-align: center;
    font-size: 15px;
}
.gallery-name{
    width: 240px;
    height: 30px;
    color: #0a1f44;
    font-family: "Inter UI - Semi Bold";
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
   margin-top: -1%;
    display: grid;
    padding: 3%;
    justify-content: flex-start;
}
.gallery-description{
    width: 240px;
    height: 48px;
    color: #4e5d78;
    font-family: "Inter UI - Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: grid;
    margin-top: -7%;
    justify-content: flex-start;
}