.main-gallery{
    display:grid;
    grid-template-rows:1fr 1fr 5fr;

}
.shapeimg{
    width: 13px;
    height: 25px;
    display:flex;
    justify-content:flex-start;
    align-self:flex-start;
}
.albumimg{
    width: 100%;
    height:350px;
    border-top: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
}
.albumlogo{
    justify-items: center;
}
.albumlogo img{
    width:50%;
}
.header-bottom
{
    width: 55%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 23%;
}

.gallery-image{
    display: flex;
    justify-content: center;
}
.gallery-image img{
    width: 50%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    /* height: 70%; */
}
.items08{
    display: flex;
    justify-content: center;
}

.one-image-container{
    width: 55%;
    height: 430px;
    box-shadow: 0 16px 16px -1px rgba(10, 22, 70, 0.1), 0 0 1px rgba(10, 22, 70, 0.06);
    border-radius: 8px;
    background-color: #ffffff;
    text-align: center;
    font-size: 15px;
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.for-social-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.socialbuttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.socialbuttons button{
    height: 55%;
    width:80%;
    background-color: #ffffff;
    border-radius: 55%;
    border-color: #fff;
    margin-left: 10%;
}
.threepoint{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-right: 10%;
}
